.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remove any scrollbars and make sure iframe content is fully contained */
:global(body) {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:global(html) {
  overflow: hidden;
} 